#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card{
  width: 100%;
  height: 20rem;
  background-color: #413e3e;
  border-radius: 8px;
  padding: 2rem;
}


.title {
  font-size: 3.2em;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  padding: 2rem ;
  gap: 2rem;
  text-align: start;
}

.container-date{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
}

h2{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

.input{
  width: 5rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ffffff;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #413e3e;
  color: #fff;
}


.btn-calculate {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn-calculate:hover {
  border-color: #646cff;
}